.Header {
  color: white;
  background-color: #9a0000;
  font-size: 1.2em;
  padding: 0.5em;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}
.Header-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #4c64ae;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  box-shadow: inset rgba(15, 33, 90, 0.5) -0.3rem -0.3rem;
}
.Header-icon:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.3);
  top: 0.4rem;
  left: 0.4rem;
}

.Header-title {
  flex-grow: 99;
  flex-shrink: 1;
}

.Header-badge {
  flex-grow: 1;
}